*{
    font-family: "Poppins", Arial, sans-serif;
}
.innerBoxPhoneAdmin{
    display: none;
}
.sideBarPhoneAdmin{
    display: none;
}
.outerBoxAdmin{
    width: 100%;
    background: hsl(0, 0%, 100%);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.innerBoxAdmin{
    width: 100%;
    background: #FFF;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.leftBoxAdmin{
    width: 19%;
    height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(178deg, #434343 0%, #080808 44.71%);
}
.leftfirstBoxAdmin{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftfirstBoxAdmin > img {
    width: 30%;
    height: 30%;
    flex-shrink: 0;
}
.leftfirstBoxAdmin > p{
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.leftsecondBoxAdmin{
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.leftsecondfirstAdmin {
    display: flex;
    width: 95%;
    padding: 0px 8px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.leftsecondfirstAdminOn {
    display: flex;
    width: 95%;
    padding: 0px 8px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.leftsecondsecondAdmin {
    display: inline;
    width: 95%;
    height: 50px;
    padding: 0px 8px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    text-align: left;
}
.leftsecondsecondAdminOn{
    display: inline;
    width: 95%;
    padding: 0px 8px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    text-align: left;
}
.leftsecondseconddivAdmin {
    display: inline;
    width: 95%;
    justify-content: left;
    align-items: center;
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin: 0;
}
.leftsecondseconddivAdminOff{
    display: none;
}
.leftsendMessageAdmin{
    display: inline;
}
.leftsendMessageAdminOff{
    display: inline;
}
.leftsendBulkMessageAdmin{
    display: inline;
}
.leftsendBulkMessageAdminOff{
    display: inline;
}
.leftannouncementAdmin{
    display: inline;
}
.leftannouncementAdminOff{
    display: inline;
}
.leftsecondthirdAdmin {
    display: flex;
    width: 95%;
    padding: 0px 8px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.leftsecondthirdAdminOn {
    display: flex;
    width: 95%;
    padding: 0px 8px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.leftsecondfourthAdmin {
    display: flex;
    width: 95%;
    padding: 0px 8px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.leftsecondfourthAdminOn {
    display: flex;
    width: 95%;
    padding: 0px 8px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.leftthirdBoxAdmin{
    width: 100%;
    padding: 10px 20px 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    margin: auto;
    margin-top: 40%;
}
.leftthirdBoxfirstAdmin{
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.leftthirdBoxsecondAdmin{
    width: 60%;
    padding: 10px 1px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #717171;
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    margin: auto;
    margin-top: 20px;
    color: #FFF;
}
.rightBoxAdmin{
    width: 80%;
    height: 100vh;
    flex-shrink: 0;
}
.rightDashboardBoxAdmin{
    display: inline;
}
.rightDashboardBoxAdminOff{
    display: none;
}
.rightfirstBoxAdmin{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.textrightfirstBoxAdmin{
    text-align: left;
    padding-top: 10px;
}
.textrightfirstBoxAdmin :nth-child(1){
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 90.909% */
    letter-spacing: 0.1px;
    margin: 0px;
}
.textrightfirstBoxAdmin :nth-child(2){
    color: #707070;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.textrightfirstBoxAdmin :nth-child(3){
    color: #B0B0B0;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.countdownrightfirstBoxAdmin{
    width: 18%;
    color: #707070;
    text-align: right;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 0px;
    align-items: flex-end;
}
.rightsecondBoxAdmin{
    width: 99%;
    display: flex;
    height: 240px;
    justify-content: space-between;
    align-items:stretch;
    padding: 0px;
    margin-bottom: 15px;
}
.weeklyChartAdmin{
    width: 38%;
    height: 90%;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #CACACA;
    background: #FBF8FF;
}
.monthlyChartAdmin{
    width: 38%;
    height: 90%;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #CACACA;
    background: #FBF8FF;
}
.rightsecondBoxCount{
    width: 13%;
    height: 90%;
    padding: 2px 20px 2px 0px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.rightsecondBoxCountOuter{
    width: 100%;
    height: 103px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #CACACA;
    background: #FBF8FF;
    padding: 3px 10px;
}
.rightsecondBoxCountText{
    height: 2%;
    color: #2E2A2A;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
}
.rightsecondBoxCountNumber{
    height: 10%;
    color: #AF26FD;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    text-align: right;
}
.weeklyChartAdminText{
    color: #2E2A2A;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: -10px;
}
.weeklyChartAdminText > p{
    margin: 4px 0px 0px 0px;
}
.monthlyChartAdminText{
    color: #2E2A2A;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: -10px;
}
.monthlyChartAdminText > p{
    margin: 4px 0px 0px 0px;
}
.monthlyChartAdminSelect{
    border: none;
    height: 21px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.rightthirdBoxAdmin{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.rightthirdBoxAdminSearchBox{
    display: flex;
    align-items: center;
    width: 78%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #9ca1a3;
    padding: 0px 10px;
}
.rightthirdBoxAdminSearchBox > input {
    width: 94%;
    flex-shrink: 0;
    border-radius: 6px;
    padding: 0px 10px;
    outline: none;
    border: none;
}
.rightthirdBoxAdmin > select {
    width: 17%;
    height: 43px;
    padding: 0px 10px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1.5px solid #7200FF;
    outline: none;
}
.rightfourthBoxAdmin{
    width: 99%;
    height: 175px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #CACACA;
    background: #FFF;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
.userTableAdmin{
    width: 100%;
    margin: 8px;
    padding: 0px 0px 0px 10px;
}
.userTableAdminHead{
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    padding: 6px;
}
.userTableAdminBody{
    color: #4F4F4F;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding: 8px;
}
.sendMessageBoxAdmin{
    display: inline;
}
.sendMessageBoxAdminOff{
    display: none;
}

.sendBulkMessageBoxAdmin{
    display: inline;
}
.sendBulkMessageBoxAdminOff{
    display: none;
}

.announcementBoxAdmin{
    display: inline;
}
.announcementBoxAdminOff{
    display: none;
}
.rightFeedbackBoxAdmin{
    display: inline;
}
.rightFeedbackBoxAdminOff{
    display: none;
}
.rightFeedbackBoxAdminInner{
    text-align: left;
    padding: 15px;
}
.FeedbackTextAdmin{
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 90.909% */
    letter-spacing: 0.1px;
}
.feedbacktableholder{
    height: 85vh;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}
.FeedbackTableAdmin{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}
.FeedbackTableHeadAdmin{
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    padding: 8px;
}
.FeedbackTableAdmin :nth-child(4){
    width: 400px;
}
.FeedbackTableBodyAdmin{
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    padding: 8px;
}
.rightSubscriptionBoxAdmin{
    display: inline;
}
.rightSubscriptionBoxAdminOff{
    display: none;
}
.rightSubscriptionBoxAdminInner{
    text-align: left;
    padding: 15px;
}
.SubscriptionTextAdmin{
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 90.909% */
    letter-spacing: 0.1px;
}
.subscriptiontableholder{
    height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
}
.SubscriptionTableAdmin{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}
.SubscriptionTableHeadAdmin{
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    padding: 8px;
}
.SubscriptionTableBodyAdmin{
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    padding: 8px;
}
.SubscriptionTableBodyAdmintrue{
    color: #1ADB16;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    padding: 8px;
}
.currentSubscriptionAdmin{
    display: inline;
    width: 450px;
    height: 500px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.15);
    margin: auto;
    position: absolute;
    top: 5%;
    left: 40%;
}
.currentSubscriptionAdminOff{
    display: none;
}
.currentSubscriptionCloseAdmin{
    width: 95%;
    text-align: right;
    flex-shrink: 0;
    padding-top: 15px;
}
.currentSubscriptionCloseAdmin > img{
    width: 22px;
    height: 22px;
}
.currentSubscriptionTextAdmin{
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 90.909% */
    letter-spacing: 0.1px;
    margin: 0px;
    margin-bottom: 15px;
}
.currentSubscriptionInnerBoxAdmin{
    width: 359px;
    height: 357px;
    margin: auto;
    border-radius: 8px;
    border: 1px solid #CACACA;
    background: #FBF8FF;
    text-align: center;
}
.countdownrightDoughnutOuterAdminFirstBox{
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
    height: 125px;
    font-size: 15px;
    font-family: "Poppins", Arial, sans-serif;
}
.countdownrightDoughnutOuterAdminFirstBox > p{
    text-align: center;
    margin: 0px;
    margin-top: -5px;
}
.countdownrightDoughnutInnerAdminFirstBox{
    width: 88px;
    margin: auto;
    transform: rotate(0.005deg);
    flex-shrink: 0;
    stroke-width: 30.975px;
    stroke: #7200FF;
    position: relative;
}
.countdownrightDoughnutInnerAdminNumberFirstBox{
    position: absolute;
    top: 37%;
    right: 37%;
    color: #4F4F4F;
    text-align: center;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.countdownrightText {
    color: #707070;
    text-align: right;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    line-height: normal;
}
.currentSubscriptionTextBoxAdmin{
    width: 319px;
    height: 140px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #CACACA;
    background: #F3EAFF;
    text-align: left;
    padding: 0px 0px 15px 10px;
}
.currentSubscriptionviewallAdmin{
    color: #9114FF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 50px;
}
.newSubscriptionAdmin{
    display: inline;
    width: 450px;
    height: 510px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.15);
    margin: auto;
    position: absolute;
    top: 5%;
    left: 40%;
}
.newSubscriptionAdminOff{
    display: none;
}
.newSubscriptionCloseAdmin{
    width: 95%;
    text-align: right;
    flex-shrink: 0;
    padding-top: 15px;
}
.newSubscriptionCloseAdmin > img{
    width: 22px;
    height: 22px;
}
.newSubscriptionTextAdmin{
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 90.909% */
    letter-spacing: 0.1px;
    margin: 0px;
    margin-bottom: 15px;
}
.newSubscriptionInnerBoxAdmin{
    width: 359px;
    height: 327px;
    margin: auto;
    border-radius: 8px;
    border: 1px solid #CACACA;
    background: #FBF8FF;
}
.newSubscriptionDoughnutOuterAdmin{
    border-bottom: 1px solid #E7E7E7;
    width: 80%;
    height: 145.501px;
    margin: auto;
    color: #2E2A2A;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.newSubscriptionDoughnutOuterAdmin > p {
    color: #2E2A2A;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.newSubscriptionDoughnutOuterAdmin > p > span{
    color: #9A9A9A;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}
.newSubscriptionDoughnutAdmin >p {
    width: 216px;
    color: #2E2A2A;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.newSubscriptionDoughnutAdmin > div{
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 50%;
}
.newSubscriptionDoughnutAdmin > div >img{
    width: 53px;
    height: 51px;
    flex-shrink: 0;
}
.newSubscriptionbenifitsBoxAdmin{
    width: 300px;
    height: 127px;
    flex-shrink: 0;
    margin: auto;
    border-radius: 8px;
    background: #FBF8FF;
    margin-top: 10px;
    margin-bottom: 40px;
}
.newSubscriptionbenifitsBoxAdmin > div{
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
    line-height: 20px;
}
.newSubscriptionbenifitsBoxAdmin > div >img{
    margin-right: 4px;
}
.newSubscriptionbenifitsBoxAdmin > div >p{
    margin: 0;
    color: #4F4F4F;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}
.newSubscriptionbenifitsBoxAdmin > div > p >span{
    color: #858585;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.newSubscriptionsubscribebuttonAdmin{
    display: flex;
    width: 359px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(287deg, #7200FF 15.07%, #FC57FF 88.56%);
    color: #FFF;
    text-align: center;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.1px;
    border: none;
    margin: auto;
    margin-top: 10px;
}
.sendMessageBoxAdminText{
    width: 97%;
    text-align: left;
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 90.909% */
    letter-spacing: 0.1px;
}
.sendMessageBoxAdminaddcontact{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sendMessageBoxAdminaddcontact > input{
    width: 90%;
    height: 35px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #C2C2C2;
    background: #FFF;
    color: #A9A9A9;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    outline: none;
}
.sendMessageBoxAdminaddcontact > button {
    display: flex;
    width: 82px;
    height: 38px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(287deg, #7200FF 15.07%, #FC57FF 88.56%);
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}
.sendMessageBoxAdminmessagebox{
    width: 97%;
    padding: 10px;
    background: url("https://i.postimg.cc/G3Y5ZyLb/chatbg.png");
    height: 70vh;
    margin-top: 10px;
}
.sendMessageBoxAdminkeyboard{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sendMessageBoxAdminkeyboard > img{
    width: 38px;
    height: 38px;
    flex-shrink: 0;
}
.sendMessageBoxAdminkeyboard > div{
    width: 86%;
    height: 35px;
    border-radius: 26px;
    border: 1px solid #C2C2C2;
    flex-shrink: 0;
    background: #FFF;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 6px 0px 0px;
    align-items: center;
}
.sendMessageBoxAdminkeyboard > div >input{
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 26px;
    background: #FFF;
    color: #A9A9A9;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    outline: none;
}
.sendMessageBoxAdminkeyboard > button {
    display: flex;
    width: 82px;
    height: 38px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(287deg, #7200FF 15.07%, #FC57FF 88.56%);
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}


.sendBulkMessageBoxAdminText{
    width: 98%;
    text-align: left;
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 90.909% */
    letter-spacing: 0.1px;
}
.sendBulkMessageBoxAdminaddcontact{
    width: 98%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
    padding: 3px 3px 3px 0px;
    border: 1px solid #C2C2C2;
}
/* .sendBulkMessageBoxAdminaddcontactInput{
    width: 89%;
    height: 30px;
    flex-shrink: 0;
    background: #FFF;
    border: none;
    border-radius: 4px;
    color: #A9A9A9;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    outline: none;
} */
/* .sendBulkMessageBoxAdminaddcontactFile{
    width: 90px;
    height: 35px;
    flex-shrink: 0;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    outline: none;
    display: inline-block;
    margin-top: 10px;
} */
.sendBulkMessageBoxAdminmessagebox{
    width: 97%;
    padding: 10px;
    background: url("https://i.postimg.cc/G3Y5ZyLb/chatbg.png");
    height: 70vh;
    margin-top: 10px;
}
.sendBulkMessageBoxAdminkeyboard{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sendBulkMessageBoxAdminkeyboard > img{
    width: 38px;
    height: 38px;
    flex-shrink: 0;
}
.sendBulkMessageBoxAdminkeyboard > div{
    width: 86%;
    height: 35px;
    border-radius: 26px;
    border: 1px solid #C2C2C2;
    flex-shrink: 0;
    background: #FFF;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0px 0px;
    align-items: center;
}
.sendBulkMessageBoxAdminkeyboard > div >input{
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 26px;
    background: #FFF;
    color: #A9A9A9;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    outline: none;
}
.sendBulkMessageBoxAdminkeyboard > button {
    display: flex;
    width: 82px;
    height: 38px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(287deg, #7200FF 15.07%, #FC57FF 88.56%);
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.announcementBoxAdminText{
    width: 98%;
    text-align: left;
    color: #000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 90.909% */
    letter-spacing: 0.1px;
}
.announcementBoxAdminmessagebox{
    width: 97%;
    padding: 10px;
    background: url("https://i.postimg.cc/G3Y5ZyLb/chatbg.png");
    height: 77vh;
    margin-top: 10px;
}
.announcementBoxAdminkeyboard{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.announcementBoxAdminkeyboard > img{
    width: 38px;
    height: 38px;
    flex-shrink: 0;
}
.announcementBoxAdminkeyboard > div{
    width: 86%;
    height: 35px;
    border-radius: 26px;
    border: 1px solid #C2C2C2;
    flex-shrink: 0;
    background: #FFF;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0px 0px;
    align-items: center;
}
.announcementBoxAdminkeyboard > div >input{
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 26px;
    background: #FFF;
    color: #A9A9A9;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    outline: none;
}
.announcementBoxAdminkeyboard > button {
    display: flex;
    width: 8%;
    height: 38px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(287deg, #7200FF 15.07%, #FC57FF 88.56%);
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.fileinputwrapperAdmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
}
.file-input-buttonAdmin {
    width: 90px;
    height: 35px;
    flex-shrink: 0;
    padding-left: 10px;
    outline: none;
    display: flex;
    border-radius: 4px;
    background: #707070;
    color: #FFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    align-items: center;
}
#myfileAdmin {
    display: none;
}
.file-input-textAdmin {
    width: 89%;
    height: 20px;
    flex-shrink: 0;
    background: #FFF;
    border: none;
    border-radius: 4px;
    color: #A9A9A9;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 3px 6px;
    outline: none;
    text-align: left;
}
#myfileAdmin::-webkit-file-upload-buttonAdmin {
    visibility: hidden;
}
.currentSubscriptionDoughnutOuterAdmin{
    border-bottom: 1px solid #E7E7E7;
    width: 90%;
    height: 140px;
    margin: auto;
    font-size: 15px;
    font-family: "Poppins", Arial, sans-serif;
}
.currentSubscriptionDoughnutOuterAdmin > p{
    text-align: center;
    margin: 0px;
    margin-top: 10px;
}
.currentSubscriptionDoughnutInnerAdmin{
    width: 118px;
    height: 118px;
    margin: auto;
    transform: rotate(0.005deg);
    flex-shrink: 0;
    stroke-width: 30.975px;
    stroke: #7200FF;
    position: relative;
}
.currentSubscriptionDoughnutInnerAdminNumber{
    position: absolute;
    top: 40%;
    right: 35%;
    color: #4F4F4F;
    text-align: center;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.currentSubscriptionDoughnutAdmin >p {
    color: #707070;
    text-align: right;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    line-height: normal;
}






@media all and (min-width:481px) and (max-width:786px){
    .innerBoxPhoneAdmin{
        display: none;
    }
    .sideBarPhoneAdmin{
        display: none;
    }
    .leftfirstBoxAdmin{
        padding: 15px;
    }
    .leftfirstBoxAdmin > p{
        font-size: 12px;
    }
    .leftfirstBoxAdmin > img {
        width: 25%;
        height: 25%;
        flex-shrink: 0;
    }
    .leftsecondfirstAdmin{
        font-size: 11px;
        width: 85%;
        padding: 0px 5px;
    }
    .leftsecondfirstAdminOn{
        font-size: 11px;
        width: 85%;
        padding: 0px 5px;
    }
    .leftsecondsecondAdmin{
        font-size: 11px;
        width: 85%;
        padding: 0px 5px;
    }
    .leftsecondsecondAdminOn{
        font-size: 11px;
        width: 85%;
        padding: 0px 5px;
    }
    .leftsecondseconddivAdmin{
        font-size: 11px;
    }
    .leftsecondthirdAdmin{
        font-size: 11px;
        width: 85%;
        padding: 0px 5px;
    }
    .leftsecondthirdAdminOn{
        font-size: 11px;
        width: 85%;
        padding: 0px 5px;
    }
    .leftsecondfourthAdmin{
        font-size: 11px;
        width: 98%;
        padding: 0px 5px;
        text-align: left;
    }
    .leftsecondfourthAdminOn{
        font-size: 11px;
        width: 95%;
        padding: 0px 5px;
        text-align: left;
    }
    .leftthirdBoxAdmin{
        margin-top: 60%;
    }
    .leftthirdBoxfirstAdmin{
        font-size: 11px;
    }
    .leftthirdBoxsecondAdmin{
        font-size: 11px;
        padding: 6px 1px;
        margin-top: 10px;
    }
    .textrightfirstBoxAdmin :nth-child(1){
        font-size: 20px;
    }
    .textrightfirstBoxAdmin :nth-child(2){
        font-size: 15px;
        margin: 7px 0px;
    }
    .textrightfirstBoxAdmin :nth-child(3){
        font-size: 12px;
        margin: 5px 0px;
    }
    .countdownrightfirstBoxAdmin{
        width: 20%;
    }
    .countdownrightDoughnutInnerAdminFirstBox{
        width: 70px;
    }
    .countdownrightDoughnutInnerAdminNumberFirstBox{
        font-size: 16px;
        color: #0f0f0f;
        top: 37%;
        right: 37%;
    }
    .countdownrightDoughnutOuterAdminFirstBox{
        height: 100px;
        font-size: 10px;
    }
    .countdownrightDoughnutOuterAdminFirstBox > p{
        font-size: 12px;
    }
    .rightsecondBoxAdmin{
        height: 200px;
    }
    .rightsecondBoxCountOuter{
        height: 85px;
    }
    .rightsecondBoxCountText{
        height: 12%;
        font-size: 16px;
    }
    .rightsecondBoxCountNumber{
        font-size: 40px;
    }
    .weeklyChartAdmin{
        width: 35%;
        height: 90%;
    }
    .monthlyChartAdmin{
        width: 35%;
        height: 90%;
    }
    .weeklyChartAdminText{
        font-size: 16px;
    }
    .monthlyChartAdminText{
        font-size: 16px;
    }
    .monthlyChartAdminSelect{
        font-size: 12px;
        margin: 0px;
    }
    .rightthirdBoxAdmin{
        width: 98%;
    }
    .rightthirdBoxAdmin > input{
        width: 70%;
        height: 33px;
        font-size: 13px;
    }
    .rightthirdBoxAdmin > select{
        height: 35px;
        width: 22%;
        padding: 0px 2px;
        font-size: 12px;
    }
    .rightfourthBoxAdmin{
        width: 98%;
        height: 150px;
    }
    .userTableAdmin{
        margin: 5px;
    }
    .userTableAdminHead{
        font-size: 13px;
        padding: 5px;
    }
    .userTableAdminBody{
        font-size: 13px;
        padding: 5px;
    }
    .sendMessageBoxAdminText{
        font-size: 20px;
    }
    .sendMessageBoxAdminaddcontact{
        width: 98%;
    }
    .sendMessageBoxAdminaddcontact > input{
        width: 85%;
        height: 25px;
        font-size: 14px;
    }
    .sendMessageBoxAdminaddcontact > button {
        width: 11%;
        height: 28px;
        padding: 10px;
        font-size: 15px;
    }
    .sendMessageBoxAdminkeyboard{
        width: 97%;
    }
    .sendMessageBoxAdminkeyboard > img{
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
    .sendMessageBoxAdminkeyboard > div{
        width: 78%;
        height: 30px;
    }
    .sendMessageBoxAdminkeyboard > div >input{
        width: 88%;
        height: 75%;
        font-size: 13px;
    }
    .sendMessageBoxAdminkeyboard > button {
        width: 11%;
        height: 30px;
        padding: 8px;
        font-size: 14px;
    }
    .sendBulkMessageBoxAdminText{
        font-size: 20px;
    }
    .sendBulkMessageBoxAdminaddcontact{
        height: 34px;
        padding:  0px;
    }
    .sendBulkMessageBoxAdminkeyboard{
        width: 97%;
    }
    .sendBulkMessageBoxAdminkeyboard > img{
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
    .sendBulkMessageBoxAdminkeyboard > div{
        width: 78%;
        height: 30px;
    }
    .sendBulkMessageBoxAdminkeyboard > div >input{
        width: 88%;
        height: 75%;
        font-size: 13px;
    }
    .sendBulkMessageBoxAdminkeyboard > button {
        width: 11%;
        height: 30px;
        padding: 8px;
        font-size: 14px;
    }
    .announcementBoxAdminkeyboard{
        width: 97%;
    }
    .announcementBoxAdminkeyboard > img{
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
    .announcementBoxAdminkeyboard > div{
        width: 78%;
        height: 30px;
    }
    .announcementBoxAdminkeyboard > div >input{
        width: 88%;
        height: 75%;
        font-size: 13px;
    }
    .announcementBoxAdminkeyboard > button {
        width: 11%;
        height: 30px;
        padding: 8px;
        font-size: 14px;
    }
    .fileinputwrapperAdmin{
        width: 97%;
        padding: 3px;
    }
    .file-input-textAdmin{
        width: 85%;
        height: 20px;
        font-size: 13px;
        padding: 0px;
        padding-right: 3px;
        padding-left: 3px;
    }
    .file-input-buttonAdmin {
        width: 70px;
        height: 25px;
        padding: 0px 3px;
        font-size: 12px;
        padding-left: 0px;
    }
    .FeedbackTextAdmin{
        font-size: 20px;
    }
    .FeedbackTableAdmin :nth-child(4){
        width: 280px;
    }
    .FeedbackTableHeadAdmin{
        font-size: 12px;
    }
    .FeedbackTableBodyAdmin{
        font-size: 12px;
    }
    .SubscriptionTextAdmin{
        font-size: 20px;
    }
    .SubscriptionTableAdmin{
        width: 95%;
    }
    .SubscriptionTableHeadAdmin{
        font-size: 11px;
        padding: 5px;
    }
    .SubscriptionTableBodyAdmin{
        font-size: 11px;
        padding: 5px;
    }
    .SubscriptionTableBodyAdmintrue{
        font-size: 12px;
    }
}






@media all and (min-width:180px) and (max-width:480px){
    .innerBoxAdmin{
        display: none;
    }
    .innerBoxPhoneAdmin{
        display: inline;
    }
    .navPhoneAdmin{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        flex-shrink: 0;
        background: linear-gradient(166deg, #434343 0.54%, #080808 141.29%), linear-gradient(292deg, #7200FF 6.04%, #FC57FF 155.22%);
    }
    .menuIconAdminBox{
        width: 10%;
    }
    .logoAdminBox{
        width: 90%;
    }
    .firstBoxAdminPhone{
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .firstBoxTextAdminPhone{
        text-align: left;
    }
    .firstBoxTextAdminPhone :nth-child(1){
        color: #000;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 18.955px;
        letter-spacing: 0.095px;
        margin: 10px 0px;
    }
    .firstBoxTextAdminPhone :nth-child(2){
        color: #707070;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 7px 0px;
    }
    .firstBoxTextAdminPhone :nth-child(3){
        color: #B0B0B0;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 5px 0px;
    }
    .countdownrAdminBoxPhone{
        width: 88px;
        transform: rotate(0.005deg);
        flex-shrink: 0;
        stroke-width: 30.975px;
        stroke: #7200FF;
        position: relative;
    }
    .countdownrAdminBoxPhoneNumber{
        position: absolute;
        top: 37%;
        right: 37%;
        color: #4F4F4F;
        text-align: center;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .secondBoxAdminPhone{
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .secondBoxInnerAdminPhone{
        width: 42%;
        height: 75px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 0.948px solid #CACACA;
        background: #FBF8FF;
        padding: 10px;
    }
    .secondBoxInnerAdminPhoneText{
        color: #2E2A2A;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: left;
        margin-bottom: 5px;
    }
    .secondBoxInnerAdminPhoneNumber{
        color: #AF26FD;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: right;
    }
    .thirdBoxAdminPhone{
        width: 90%;
        height: 240px;
        margin: auto;
        border-radius: 8.89px;
        border: 0.861px solid #CACACA;
        background: #FBF8FF;
        margin-top: 10px;
        padding: 5px;
    }
    .thirdBoxAdminPhoneText{
        color: #2E2A2A;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: left;
        margin: 0px;
        margin-top: 10px;
    }
    .fourthBoxAdminPhone{
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .fourthBoxAdminPhoneInputBox{
        width: 85%;
        height: 32px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 0.935px solid #7a7e80;
        display: flex;
        align-items: center;
        padding-left: 7px;
    }
    .fourthBoxAdminPhoneInputBox > input{
        color: #AEAEAE;
        width: 90%;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        outline: none;
    }
    .fourthBoxAdminPhoneButton{
        width: 8%;
        height: 8%;
        font-size: 12px;
        border-radius: 10px;
        background-color: #9114FF;
        padding: 0px 3px;
    }
    .fourthBoxAdminPhoneButton > img{
        width: 100%;
        height: 95%;
    }
    .fifthBoxAdminPhone{
        width: 95%;
        margin: auto;
        height: 175px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CACACA;
        background: #FFF;
        margin-top: 10px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .userTableAdminPhone{
        width: 100%;
        margin: 4px;
        padding: 0px 3px 0px 3px;
    }
    .userTableAdminHeadPhone{
        color: #000;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: left;
        padding: 4px;
    }
    .userTableAdminBodyPhone{
        color: #4F4F4F;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        padding: 4px;
    }
    .innerBoxPhoneAdminContent{
        display: none;
    }
    .sideBarPhoneAdminOff{
        display: none;
    }
    .sideBarPhoneAdmin{
        display: inline;
        flex-shrink: 0;
        border: 1px solid rgb(255, 255, 255);
        background: linear-gradient(178deg, #434343 0%, #080808 44.71%);
        position: fixed;
        width: 40%;
        height: 100vh;
        z-index: 100;
        left: 0;
    }
    .FirstBoxsideBarPhoneAdmin{
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 4px;
        gap: 5px;
        color: #EBEBEB;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .FirstBoxsideBarPhoneAdmin > img {
        width: 30px;
        height: 30px;
    }

    .SecondBoxsideBarPhoneAdmin{
        padding: 10px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .sidesecondfirstPhoneAdmin{
        display: flex;
        width: 75%;
        padding: 0px 8px;
        justify-content: left;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        color: #FFF;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
    }
    .sidesecondfirstPhoneAdminOn{
        display: flex;
        width: 75%;
        padding: 0px 8px;
        justify-content: left;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #FFF;
        color: #000;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
        text-align: left;
    }
    .sidesecondsecondPhoneAdmin{
        display: inline;
        width: 87%;
        height: 50px;
        padding: 0px 8px;
        justify-content: left;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        color: #FFF;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
        text-align: left;
    }
    .sidesecondsecondPhoneAdminOn{
        display: inline;
        width: 87%;
        padding: 0px 8px;
        justify-content: left;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #FFF;
        color: #000;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
        text-align: left;
    }
    .sidesecondseconddivPhoneAdmin {
        display: inline;
        width: 95%;
        justify-content: left;
        align-items: center;
        color: #000;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        margin: 0;
    }
    .sidesecondseconddivPhoneAdminOff{
        display: none;
    }
    .sidesendMessagePhoneAdmin{
        display: inline;
    }
    .sidesendMessagePhoneAdminOff{
        display: inline;
    }
    .sidesendBulkMessagePhoneAdmin{
        display: inline;
    }
    .sidesendBulkMessagePhoneAdminOff{
        display: inline;
    }
    .sideannouncementPhoneAdmin{
        display: inline;
    }
    .sideannouncementPhoneAdminOff{
        display: inline;
    }
    .sidesecondthirdPhoneAdmin{
        display: flex;
        width: 75%;
        padding: 0px 8px;
        justify-content: left;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        color: #FFF;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
    }
    .sidesecondthirdPhoneAdminOn{
        display: flex;
        width: 75%;
        padding: 0px 8px;
        justify-content: left;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #FFF;
        color: #000;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
        text-align: left;
    }
    .sidesecondfourthPhoneAdmin{
        display: flex;
        width: 97%;
        padding: 0px 8px;
        justify-content: left;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        color: #FFF;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
    }
    .sidesecondfourthPhoneAdminOn{
        display: flex;
        width: 97%;
        padding: 0px 8px;
        justify-content: left;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #FFF;
        color: #000;
        font-family: "Poppins", Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
        text-align: left;
    }
}