.outerBoxAdminDashboard{
    padding-top: 100px;
    width: 100%;
}
.innerBoxAdminDashboard{
    display: flex;
    justify-content: space-between;
}
.leftBoxAdminDashboard{
    border-right: 1px solid black;
    width: 20%;
}
.profileBoxAdminDashboard{
    border-bottom: 1px solid black;
}
.profileImageAdminDashboard{
    width: 150px;
}
.titleBoxAdminDashboard{
    border-bottom: 0px solid black;
}
.leftInnerBoxfirstAdminDashboard{
    background-color: rgb(190, 190, 190);
    border: 1px solid black;
}
.leftInnerBoxsecondAdminDashboard{
    background-color: rgb(190, 190, 190);
    border: 1px solid black;
}
.leftInnerBoxthirdAdminDashboard{
    background-color: rgb(190, 190, 190);
    border: 1px solid black;
}
.leftInnerBoxfourthAdminDashboard{
    background-color: rgb(190, 190, 190);
    border: 1px solid black;
}
.leftInnerBoxfirstAdminDashboardoff{
    border-bottom: 1px solid black;
}
.leftInnerBoxsecondAdminDashboardoff{
    border-bottom: 1px solid black;
}
.leftInnerBoxthirdAdminDashboardoff{
    border-bottom: 1px solid black;
}
.leftInnerBoxfourthAdminDashboardoff{
    border-bottom: 1px solid black;
}
.rightBoxAdminDashboard{
    width: 80%;
}

.firstrightboxon{
    display: flex;
}
.firstrightboxoff{
    display: none;
}
.secondrightboxon{
    display: flex;
}
.secondInnerboxAdminDashboard{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
}
.inputSecondboxAdminDashboard{
    margin-top: 10px;
    margin-bottom: 20px;
}
.secondrightboxoff{
    display: none;
}
.thirdrightboxon{
    display: flex;
}
.thirdrightboxoff{
    display: none;
}
.fourthrightboxon{
    display: flex;
}
.fourthrightboxoff{
    display: none;
}