.outerBoxForgotPassword {
    display: flex;
    width: 100%;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}
.innerBoxForgotPassword {
    width: 538px;
    height: 489px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #CACACA;
    background: #FBF8FF;
}
.ForgotPasswordlogo{
    width: 119px;
    height: 119px;
    flex-shrink: 0;
    margin-top: 40px;
}
.ForgotPasswordheading{
    color: #000;
    /* font-family: Poppins; */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.formboxForgotPassword {
    width: 80%;
    text-align: left;
    margin:auto
}
.inputForgotPassword {
    width: 422px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #C2C2C2;
    background: #FFF;
    color: #B6B6B6;
    /* font-family: Poppins; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    margin-bottom: 35px;
    text-align: left;
    font-size: 14px;
    padding: 3px;
    padding-left: 10px;
    margin-top: 10px;
}
.ForgotPasswordlabels{
    color: #000;
    /* font-family: Poppins; */
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ForgotPasswordButton {
    display: flex;
    width: 422px;
    height: 48px;
    padding: 14px 134px;
    justify-content: center;
    border: none;
    outline: none;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(287deg, #7200FF 15.07%, #FC57FF 88.56%), #000;
    color: #FFF;
    /* font-family: Poppins; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}