.outerBoxForgotPassword {
  display: flex;
  width: 100%;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}
.innerBoxForgotPassword {
  width: 40%;
  height: 470px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #cacaca;
  background: #fbf8ff;
}
.ForgotPasswordlogo {
  width: 28%;
  height: 28%;
  flex-shrink: 0;
  margin-top: 40px;
}
.ForgotPasswordheading {
  color: #000;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.formboxForgotPassword {
  width: 80%;
  text-align: left;
  margin: auto;
}
.inputForgotPassword {
  width: 97%;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  background: #fff;
  color: #b6b6b6;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  margin-bottom: 35px;
  text-align: left;
  font-size: 14px;
  padding: 12px;
  margin-top: 10px;
}
.ForgotPasswordlabels {
  color: #000;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ForgotPasswordButton {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 14px 20px;
  justify-content: center;
  border: none;
  outline: none;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: linear-gradient(287deg, #7200ff 15.07%, #fc57ff 88.56%), #000;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media all and (min-width: 481px) and (max-width: 786px) {
  .outerBoxForgotPassword {
    margin-top: 70px;
  }
  .innerBoxForgotPassword {
    width: 60%;
    height: 380px;
  }
  .ForgotPasswordlogo {
    width: 22%;
    height: 22%;
  }
  .ForgotPasswordheading {
    font-size: 23px;
  }
  .ForgotPasswordlabels {
    font-size: 15px;
  }
  .inputForgotPassword {
    padding: 9px;
    margin-bottom: 5px;
  }
  .ForgotPasswordButton {
    height: 45px;
    font-size: 17px;
    margin-top: 10px;
  }
}

@media all and (min-width: 180px) and (max-width: 480px) {
  .outerBoxForgotPassword {
    margin-top: 20px;
  }
  .formbox {
    width: 90%;
  }
  .innerBoxForgotPassword {
    width: 70%;
    height: 320px;
  }
  .ForgotPasswordlogo {
    width: 20%;
    height: 20%;
  }
  .ForgotPasswordheading {
    font-size: 19px;
  }
  .ForgotPasswordlabels {
    font-size: 14px;
  }
  .inputForgotPassword {
    padding: 7px;
    margin-bottom: 5px;
    font-size: 13px;
  }
  .ForgotPasswordButton {
    height: 32px;
    font-size: 14px;
    margin-top: 10px;
  }
}
