.outerBoxLogin {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.innerBoxLogin {
    width: 538px;
    height: 470px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #CECECE;
    background: #FBF8FF;
    padding: 30px;
}
.loginlogo{
    width: 119px;
    height: 119px;
    flex-shrink: 0;
}
.loginheading{
    color: #000000;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.formbox {
    width: 80%;
    text-align: left;
    margin:auto
}
.loginforgotpassword{
    width: 100%;
    text-align: right;
    margin-top: -10px;
}
.inputlogin {
    width: 100%;
    background-color: white;
    margin: auto;
    border: 0.5px solid rgb(228, 219, 219);
    border-radius: 4px;
    outline: none;
    margin-bottom: 15px;
    text-align: left;
    font-size: 12px;
    padding: 3px;
    padding-left: 10px;
    margin-top: 6px;
    color: #B6B6B6;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.loginlabels{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.loginButton {
    display: flex;
    width: 422px;
    height: 48px;
    padding: 14px 174px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(287deg, #7200FF 15.07%, #FC57FF 88.56%), #000;
    border: none;
    margin-top: 17px;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}